// COLORS
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #3a3a3a;
$color-grey-light-1: #777;
$color-grey-light-2: #efefef;
$hackeryou-red: #d11f26;

// FONT
$primary-font-family: "Raleway", sans-serif;
$secondary-font-family: "Noto Serif", serif;
$default-font-size: 1.6rem;

// BORDER
$default-border: 1px solid $color-grey-dark;